### Add some description

In [45]:
!python --version

Python 3.11.2

In [18]:
# Log into Hugging Face
#HUGGINGFACE_TOKEN = ""
#!huggingface-cli login --token $HUGGINGFACE_TOKEN

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to /Users/verosha/.cache/huggingface/token
Login successful

### Imports

In [19]:
from huggingface_hub import hf_hub_download
import pandas as pd

### Config

In [20]:
REPO_ID = "MelioAI/santander-product-recommendation"
HF_TRAIN_DATASET_NAME = "train_ver2.csv"
HF_TEST_DATASET_NAME = "test_ver2.csv"

### Helper Functions

### Load Santander Product Recommendation dataset

- For information on the dataset, please visit the following link: https://www.kaggle.com/competitions/santander-product-recommendation/data

In [46]:
# Using the Hugging Face Client Library

ds_train = pd.read_csv(
    hf_hub_download(repo_id=REPO_ID, filename=HF_TRAIN_DATASET_NAME, repo_type="dataset")
)

/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/1856397251.py:3: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ds_train = pd.read_csv(

In [47]:
ds_test = pd.read_csv(
    hf_hub_download(repo_id=REPO_ID, filename=HF_TEST_DATASET_NAME, repo_type="dataset")
)

/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/2311066649.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  ds_test = pd.read_csv(

### Exploratory Data Analysis

In [30]:
print("train shape:",ds_train.shape)
print("test shape:", ds_test.shape)

train shape: (13647309, 48)
test shape: (929615, 24)

In [24]:
# Get a summary of the train dataframe
ds_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [25]:
# Generate a detailed statistical summary of the train DataFrame, including both numeric and categorical columns
# Transpose for easier readability and analysis
ds_train.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
fecha_dato,13647309,17,2016-05-28,931453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ncodpers,13647309.0,NaN,NaN,NaN,834904.211501,431565.025784,15889.0,452813.0,931893.0,1199286.0,1553689.0
ind_empleado,13619575,5,N,13610977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pais_residencia,13619575,118,ES,13553710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sexo,13619505,2,V,7424252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,13647309.0,235.0,23.0,542682.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fecha_alta,13619575,6756,2014-07-28,57389,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind_nuevo,13619575.0,NaN,NaN,NaN,0.059562,0.236673,0.0,0.0,0.0,0.0,1.0
antiguedad,13647309.0,507.0,0.0,134335.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indrel,13619575.0,NaN,NaN,NaN,1.178399,4.177469,1.0,1.0,1.0,1.0,99.0
ult_fec_cli_1t,24793,223,2015-12-24,763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indrel_1mes,13497528.0,13.0,1.0,7277607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tiprel_1mes,13497528,5,I,7304875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indresi,13619575,2,S,13553711,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indext,13619575,2,N,12974839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
conyuemp,1808,2,N,1791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
canal_entrada,13461183,162,KHE,4055270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indfall,13619575,2,N,13584813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipodom,13619574.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
cod_prov,13553718.0,NaN,NaN,NaN,26.57147,12.784017,1.0,15.0,28.0,35.0,52.0
nomprov,13553718,52,MADRID,4409600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind_actividad_cliente,13619575.0,NaN,NaN,NaN,0.457811,0.498217,0.0,0.0,0.0,1.0,1.0
renta,10852934.0,NaN,NaN,NaN,134254.318238,230620.238822,1202.73,68710.98,101850.0,155955.96,28894395.51
segmento,13457941,3,02 - PARTICULARES,7960220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ind_ahor_fin_ult1,13647309.0,NaN,NaN,NaN,0.000102,0.010113,0.0,0.0,0.0,0.0,1.0
ind_aval_fin_ult1,13647309.0,NaN,NaN,NaN,0.000023,0.004812,0.0,0.0,0.0,0.0,1.0
ind_cco_fin_ult1,13647309.0,NaN,NaN,NaN,0.655484,0.47521,0.0,0.0,1.0,1.0,1.0
ind_cder_fin_ult1,13647309.0,NaN,NaN,NaN,0.000394,0.019844,0.0,0.0,0.0,0.0,1.0
ind_cno_fin_ult1,13647309.0,NaN,NaN,NaN,0.080867,0.272631,0.0,0.0,0.0,0.0,1.0
ind_ctju_fin_ult1,13647309.0,NaN,NaN,NaN,0.009474,0.096873,0.0,0.0,0.0,0.0,1.0
ind_ctma_fin_ult1,13647309.0,NaN,NaN,NaN,0.009727,0.098143,0.0,0.0,0.0,0.0,1.0
ind_ctop_fin_ult1,13647309.0,NaN,NaN,NaN,0.129008,0.335209,0.0,0.0,0.0,0.0,1.0
ind_ctpp_fin_ult1,13647309.0,NaN,NaN,NaN,0.043306,0.203545,0.0,0.0,0.0,0.0,1.0
ind_deco_fin_ult1,13647309.0,NaN,NaN,NaN,0.001779,0.042138,0.0,0.0,0.0,0.0,1.0
ind_deme_fin_ult1,13647309.0,NaN,NaN,NaN,0.001661,0.040721,0.0,0.0,0.0,0.0,1.0
ind_dela_fin_ult1,13647309.0,NaN,NaN,NaN,0.042967,0.202782,0.0,0.0,0.0,0.0,1.0
ind_ecue_fin_ult1,13647309.0,NaN,NaN,NaN,0.082744,0.275494,0.0,0.0,0.0,0.0,1.0
ind_fond_fin_ult1,13647309.0,NaN,NaN,NaN,0.018486,0.134701,0.0,0.0,0.0,0.0,1.0
ind_hip_fin_ult1,13647309.0,NaN,NaN,NaN,0.005887,0.076498,0.0,0.0,0.0,0.0,1.0
ind_plan_fin_ult1,13647309.0,NaN,NaN,NaN,0.009171,0.095325,0.0,0.0,0.0,0.0,1.0
ind_pres_fin_ult1,13647309.0,NaN,NaN,NaN,0.002627,0.051191,0.0,0.0,0.0,0.0,1.0
ind_reca_fin_ult1,13647309.0,NaN,NaN,NaN,0.052536,0.223106,0.0,0.0,0.0,0.0,1.0
ind_tjcr_fin_ult1,13647309.0,NaN,NaN,NaN,0.044389,0.205957,0.0,0.0,0.0,0.0,1.0
ind_valo_fin_ult1,13647309.0,NaN,NaN,NaN,0.025608,0.157962,0.0,0.0,0.0,0.0,1.0
ind_viv_fin_ult1,13647309.0,NaN,NaN,NaN,0.003848,0.061911,0.0,0.0,0.0,0.0,1.0
ind_nomina_ult1,13631246.0,NaN,NaN,NaN,0.054724,0.227441,0.0,0.0,0.0,0.0,1.0
ind_nom_pens_ult1,13631246.0,NaN,NaN,NaN,0.059429,0.236425,0.0,0.0,0.0,0.0,1.0
ind_recibo_ult1,13647309.0,NaN,NaN,NaN,0.127916,0.333996,0.0,0.0,0.0,0.0,1.0

In [31]:
# Check missing values
ds_train.isnull().sum()/ds_train.shape[0] * 100

fecha_dato                0.000000
ncodpers                  0.000000
ind_empleado              0.203220
pais_residencia           0.203220
sexo                      0.203732
age                       0.000000
fecha_alta                0.203220
ind_nuevo                 0.203220
antiguedad                0.000000
indrel                    0.203220
ult_fec_cli_1t           99.818330
indrel_1mes               1.097513
tiprel_1mes               1.097513
indresi                   0.203220
indext                    0.203220
conyuemp                 99.986752
canal_entrada             1.363829
indfall                   0.203220
tipodom                   0.203227
cod_prov                  0.685784
nomprov                   0.685784
ind_actividad_cliente     0.203220
renta                    20.475648
segmento                  1.387585
ind_ahor_fin_ult1         0.000000
ind_aval_fin_ult1         0.000000
ind_cco_fin_ult1          0.000000
ind_cder_fin_ult1         0.000000
ind_cno_fin_ult1          0.000000
ind_ctju_fin_ult1         0.000000
ind_ctma_fin_ult1         0.000000
ind_ctop_fin_ult1         0.000000
ind_ctpp_fin_ult1         0.000000
ind_deco_fin_ult1         0.000000
ind_deme_fin_ult1         0.000000
ind_dela_fin_ult1         0.000000
ind_ecue_fin_ult1         0.000000
ind_fond_fin_ult1         0.000000
ind_hip_fin_ult1          0.000000
ind_plan_fin_ult1         0.000000
ind_pres_fin_ult1         0.000000
ind_reca_fin_ult1         0.000000
ind_tjcr_fin_ult1         0.000000
ind_valo_fin_ult1         0.000000
ind_viv_fin_ult1          0.000000
ind_nomina_ult1           0.117701
ind_nom_pens_ult1         0.117701
ind_recibo_ult1           0.000000
dtype: float64

### Pre-process Data

In [48]:
# Convert column names to a more readable naming convention
# Check the column naming for the train dataset

ds_train.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

### Column Details:
fecha_dato - The table is partitioned for this column

ncodpers - Customer code

ind_empleado - Employee index: A active, B ex employed, F filial, N not employee, P pasive

pais_residencia - Customer's Country residence

sexo - Customer's sex

age - Age

fecha_alta - The date in which the customer became as the first holder of a contract in the bank

ind_nuevo - New customer Index. 1 if the customer registered in the last 6 months.

antiguedad - Customer seniority (in months)

indrel - 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

ult_fec_cli_1t - Last date as primary customer (if he isn't at the end of the month)

indrel_1mes	- Customer type at the beginning of the month ,1 (First/Primary customer), 2 (co-owner ),P (Potential),3 (former primary), 4(former co-owner)

tiprel_1mes	- Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)

indresi	- Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)

indext	- Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)

conyuemp - Spouse index. 1 if the customer is spouse of an employee

canal_entrada - channel used by the customer to join

indfall	- Deceased index. N/S

tipodom	- Addres type. 1, primary address

cod_prov - Province code (customer's address)

nomprov	- Province name

ind_actividad_cliente - Activity index (1, active customer; 0, inactive customer)

renta - Gross income of the household

segmento - segmentation: 01 - VIP, 02 - Individuals 03 - college graduated

ind_ahor_fin_ult1 - Saving Account

ind_aval_fin_ult1 - Guarantees

ind_cco_fin_ult1 - Current Accounts

ind_cder_fin_ult1 - Derivada Account

ind_cno_fin_ult1 - Payroll Account

ind_ctju_fin_ult1 - Junior Account

ind_ctma_fin_ult1 - Más particular Account

ind_ctop_fin_ult1 - particular Account

ind_ctpp_fin_ult1 - particular Plus Account

ind_deco_fin_ult1 - Short-term deposits

ind_deme_fin_ult1 - Medium-term deposits

ind_dela_fin_ult1 - Long-term deposits

ind_ecue_fin_ult1 - e-account

ind_fond_fin_ult1 - Funds

ind_hip_fin_ult1 - Mortgage

ind_plan_fin_ult1 - Pensions

ind_pres_fin_ult1 - Loans

ind_reca_fin_ult1 - Taxes

ind_tjcr_fin_ult1 - Credit Card

ind_valo_fin_ult1 - Securities

ind_viv_fin_ult1 - Home Account

ind_nomina_ult1 - Payroll

ind_nom_pens_ult1 - Pensions

ind_recibo_ult1	- Direct Debit

In [55]:
# Convert column names

col_names = {"ncodpers":"cust_id", "ind_empleado":"emp_index","pais_residencia":"cust_country_res",
            "sexo":"sex","fecha_alta":"cust_start_date_first_holder_contract","ind_nuevo":"new_cust_index","antiguedad":"cust_seniority",
            "indrel":"cust_primary_type","ult_fec_cli_1t":"cust_last_primary_date","indrel_1mes":"cust_type_at_start_month",
            "tiprel_1mes":"cust_rel_type_at_start_month","indresi":"residence_index","indext":"foreigner_index",
            "conyuemp":"spouse_index","canal_entrada":"channel_joined", "indfall":"deceased_index", "tipodom":"address_type",
            "cod_prov":"province","nomprov":"province_name", "ind_actividad_cliente":"activity_index","renta":"gross_income",
            "segmento":"cust_category", "ind_ahor_fin_ult1":"savings_acc", "ind_aval_fin_ult1":"guarantees",
            "ind_cco_fin_ult1":"current_acc", "ind_cder_fin_ult1":"derivada_acc", "ind_cno_fin_ult1":"payroll_acc",
            "ind_ctju_fin_ult1":"jnr_acc", "ind_ctma_fin_ult1":"más_particular_acc", "ind_ctop_fin_ult1":"particular_account",
            "ind_ctpp_fin_ult1":"particular_plus_account", "ind_deco_fin_ult1":"short_term_deposits",
            "ind_deme_fin_ult1":"medium_term_deposits", "ind_dela_fin_ult1":"long_term_deposits", "ind_ecue_fin_ult1":"e_acc",
            "ind_fond_fin_ult1":"funds","ind_hip_fin_ult1":"mortgage", "ind_plan_fin_ult1":"pensions_plan", "ind_pres_fin_ult1":"loans",
            "ind_reca_fin_ult1":"taxes", "ind_tjcr_fin_ult1":"credit_card", "ind_valo_fin_ult1":"securities", "ind_viv_fin_ult1":"home_acc",
            "ind_nomina_ult1":"payroll", "ind_nom_pens_ult1": "pensions", "ind_recibo_ult1":"direct_debit"}

ds_train.rename(col_names, axis = 1, inplace = True)
ds_test.rename(col_names, axis = 1, inplace = True)

In [56]:
ds_train.sample(5)

,fecha_dato,cust_id,emp_index,cust_country_res,sex,age,cust_start_date_first_holder_contract,new_cust_index,cust_seniority,cust_primary_type,...,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
6342141,2015-10-28,1206340,N,ES,H,22,2013-10-23,0.0,24,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2723300,2015-05-28,1397881,N,ES,V,34,2015-05-20,1.0,2,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
9131665,2016-01-28,106391,N,ES,V,48,1998-09-30,0.0,208,1.0,...,0,0,0,1,1,0,0,0.0,0.0,0
4038373,2015-07-28,219942,N,ES,V,55,2001-02-02,0.0,173,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1386246,2015-03-28,661312,N,ES,H,41,2006-12-04,0.0,103,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

### Convert data types

In [57]:
ds_train.dtypes

fecha_dato                                object
cust_id                                    int64
emp_index                                 object
cust_country_res                          object
sex                                       object
age                                       object
cust_start_date_first_holder_contract     object
new_cust_index                           float64
cust_seniority                            object
cust_primary_type                        float64
cust_last_primary_date                    object
cust_type_at_start_month                  object
cust_rel_type_at_start_month              object
residence_index                           object
foreigner_index                           object
spouse_index                              object
channel_joined                            object
deceased_index                            object
address_type                             float64
province                                 float64
province_name                             object
activity_index                           float64
gross_income                             float64
cust_category                             object
savings_acc                                int64
guarantees                                 int64
current_acc                                int64
derivada_acc                               int64
payroll_acc                                int64
jnr_acc                                    int64
más_particular_acc                         int64
particular_account                         int64
particular_plus_account                    int64
short_term_deposits                        int64
medium_term_deposits                       int64
long_term_deposits                         int64
e_acc                                      int64
funds                                      int64
mortgage                                   int64
pensions_plan                              int64
loans                                      int64
taxes                                      int64
credit_card                                int64
securities                                 int64
home_acc                                   int64
payroll                                  float64
pensions                                 float64
direct_debit                               int64
dtype: object

In [58]:
# Convert the features into their intuitive types
ds_train['fecha_dato'] = pd.to_datetime(ds_train['fecha_dato'])
ds_train.age = pd.to_numeric(ds_train.age, errors='coerce')
ds_train.gross_income = pd.to_numeric(ds_train.gross_income, errors='coerce')
ds_train.cust_seniority = pd.to_numeric(ds_train.cust_seniority, errors='coerce')
ds_train.cust_start_date_first_holder_contract = pd.to_datetime(ds_train.cust_start_date_first_holder_contract, errors = 'coerce')

# test dataset
ds_test['fecha_dato'] = pd.to_datetime(ds_test['fecha_dato'])
ds_test.age = pd.to_numeric(ds_test.age, errors='coerce')
ds_test.gross_income = pd.to_numeric(ds_test.gross_income, errors='coerce')
ds_test.cust_seniority = pd.to_numeric(ds_test.cust_seniority, errors='coerce')
ds_test.cust_start_date_first_holder_contract = pd.to_datetime(ds_test.cust_start_date_first_holder_contract, errors = 'coerce')

In [59]:
ds_train.dtypes

fecha_dato                               datetime64[ns]
cust_id                                           int64
emp_index                                        object
cust_country_res                                 object
sex                                              object
age                                             float64
cust_start_date_first_holder_contract    datetime64[ns]
new_cust_index                                  float64
cust_seniority                                  float64
cust_primary_type                               float64
cust_last_primary_date                           object
cust_type_at_start_month                         object
cust_rel_type_at_start_month                     object
residence_index                                  object
foreigner_index                                  object
spouse_index                                     object
channel_joined                                   object
deceased_index                                   object
address_type                                    float64
province                                        float64
province_name                                    object
activity_index                                  float64
gross_income                                    float64
cust_category                                    object
savings_acc                                       int64
guarantees                                        int64
current_acc                                       int64
derivada_acc                                      int64
payroll_acc                                       int64
jnr_acc                                           int64
más_particular_acc                                int64
particular_account                                int64
particular_plus_account                           int64
short_term_deposits                               int64
medium_term_deposits                              int64
long_term_deposits                                int64
e_acc                                             int64
funds                                             int64
mortgage                                          int64
pensions_plan                                     int64
loans                                             int64
taxes                                             int64
credit_card                                       int64
securities                                        int64
home_acc                                          int64
payroll                                         float64
pensions                                        float64
direct_debit                                      int64
dtype: object

In [60]:
# Data Imputation

# For features with missing values percentage < 10%, use the most common factor level to impute
cols = ['emp_index','cust_country_res','sex','cust_start_date_first_holder_contract','new_cust_index','cust_primary_type',"cust_type_at_start_month","cust_rel_type_at_start_month",
       "province","province_name","activity_index","channel_joined","cust_category"]

for i in cols:
    ds_train.loc[ds_train[i].isnull(), i] = ds_train[i].value_counts().index[0]
    ds_test.loc[ds_test[i].isnull(), i] = ds_test[i].value_counts().index[0]

# For features with missing value accounts for over 10%, impute their missing values based on the mean at different dimensions
# For Income, impute the missings using the medians of Customer Segment and Province
ds_train['gross_income'].fillna(ds_train['gross_income'].mean(), inplace = True)
ds_test['gross_income'].fillna(ds_test['gross_income'].mean(), inplace = True)

/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/1311000616.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds_train['gross_income'].fillna(ds_train['gross_income'].mean(), inplace = True)
/var/folders/py/00rrgyx10993blywbkynytgc0000gn/T/ipykernel_38354/1311000616.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds_test['gross_income'].fillna(ds_test['gross_income'].mean(), inplace = True)

In [61]:
# Drop columns
# Drop cust_last_primary_date (ult_fec_cli_1t) and spouse_index (conyuemp) as these cols have > 99% missing values

ds_train.drop(['cust_last_primary_date','spouse_index'], axis = 1, inplace = True)
ds_test.drop(['cust_last_primary_date','spouse_index'], axis = 1, inplace = True)

In [64]:
ds_train.head()

,fecha_dato,cust_id,emp_index,cust_country_res,sex,age,cust_start_date_first_holder_contract,new_cust_index,cust_seniority,cust_primary_type,...,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,H,35.0,2015-01-12,0.0,6.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

### Feature Engineering

In [65]:
# Group the age for lifestages: young, adult, senior and elder
age_group = [0, 20, 45, 65, 100]
age_labels = ['young', 'adult', 'senior', 'elder']

ds_train['age_grouped'] = pd.cut(ds_train.age, bins = age_group, labels = age_labels)
ds_test['agg_grouped'] = pd.cut(ds_test.age, bins = age_group, labels = age_labels)

In [66]:
ds_train.head()

,fecha_dato,cust_id,emp_index,cust_country_res,sex,age,cust_start_date_first_holder_contract,new_cust_index,cust_seniority,cust_primary_type,...,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit,age_grouped
0,2015-01-28,1375586,N,ES,H,35.0,2015-01-12,0.0,6.0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,adult
1,2015-01-28,1050611,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,adult
2,2015-01-28,1050612,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,adult
3,2015-01-28,1050613,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,adult
4,2015-01-28,1050614,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0.0,0.0,0,adult